:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose50: hsl(20, 50%, 98%);
    --rose100: hsl(13, 31%, 94%);
    --rose300: hsl(14, 25%, 72%);
    --rose400: hsl(7, 20%, 60%);
    --rose500: hsl(12, 20%, 44%);
    --rose900: hsl(14, 65%, 9%);
}

body {
    background: var(--rose50);
}

.container {
    padding: 30px;
}

.section-title {
    color: var(--rose900);
    font-size: 3rem;
    margin-bottom: 30px;
}

/* ===============================
        PRODUCT SECTION
================================ */
/* Product Image & Button */

.product-item {
    width: 100%;
}

.product-display {
    position: relative;
}

.product-img {
    border-radius: 15px;
    width: 100%;
}

.addToCart-btn {
    width: max-content;
    outline: none;
    border-radius: 50px;
    border: 2px solid var(--rose900);
    background: var(--rose50);
    color: var(--rose900);
    padding: 12px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Product Text Section */
.product-details {
    padding: 50px 0 20px;
    margin-block-end: 30px;
}

.product-category {
    color: var(--rose400);
    font-weight: 400;
    font-size: 1.25rem;
}

.product-name {
    color: var(--rose900);
    font-weight: 600;
}

.product-price {
    color: var(--red);
    font-size: 1.25rem;
}

/* ==============================
        PRODUCT SECTION END
============================= */


/* ==============================
        CART SECTION
============================= */
.cart {
    background: #fff;
    padding: 30px 30px 80px;
    border-radius: 20px;
}

.cart-heading {
    color: var(--red)
}

.cart-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.cart-box img {
    width: 200px;
}

.cart-box p {
    margin-top: 2rem;
    color: var(--rose500);
    font-size: 20px;
}

/* ==============================
        CART SECTION END
============================= */



/* 
============================
    Media Queries
========================== */
@media (min-width: 768px) {
    .product-section {
        display: flex;
        gap: 50px;
    }

    #product-container {
        display: grid;
        grid-template-columns: repeat( auto-fill, minmax(200px, 1fr) );
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .product-section {
        display: flex;
    }
    
    #product-container {
        flex-basis: 70%;
    }

    .cart {
        flex-basis: 30%;
    }
}